* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #222A68 6.5%, #040305 100%);
    overflow: auto;
}

.elipses img,
.elipses-bg img {
    position: absolute;
}

.elipses-bg {
    top: 0;
}

.akcase {
    position: absolute;
    top: 20%;
    z-index: 1;
}

.case {
    position: absolute;
    right: -60px;

}

.fact-bg {
    background: #222A68;
    height: 200px;
    position: absolute;
    width: 90%;
    bottom: 6%;
    border-radius: 20px;
    z-index: 1;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weapon-brd {
    border: 2px solid #89FFFF;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145.03deg, rgba(222, 76, 141, 0) 8.17%, rgba(222, 76, 141, 0.0457649) 25.04%, rgba(222, 76, 141, 0.104302) 39.15%, rgba(222, 76, 141, 0.129091) 44.58%, rgba(222, 76, 141, 0.179606) 55.63%, rgba(222, 76, 141, 0.594603) 77.53%, #DE4C8D 86.17%, #DE4C8D 92.83%);
    z-index: 1;
}

.weapon-one {
    position: absolute;
    top: 13%;
    left: 10%;
    width: 96px;
    height: 96px;
}

.weapon-two {
    position: absolute;
    top: 17%;
    left: 30%;
    width: 148px;
    height: 148px;
}

.weapon-three {
    position: absolute;
    top: 43%;
    left: 35%;
    width: 96px;
    height: 96px;
}

.weapon-four {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 96px;
    height: 96px;
}

.weapon-brd img {
    width: 90%;
}

.smoke {
    position: absolute;
    top: 37%;
    z-index: 0;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    flex-wrap: nowrap;
    background-color: black;
    color: white;
    height: 100px;
}

.logo {
    margin: 20px 50px;
    width: 343px;
    height: 60px;
    cursor: pointer;
    background: url(images/mainlogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.account {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 26px 50px;
    padding: 14px 37px;
    border-radius: 10px;
    background-color: #2C9645;
    cursor: pointer;
    box-shadow: none;
    border: none;

}

.account-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 2px;
    color: white;
}

.content {
    display: flex;
    z-index: 3;

}

.left {
    width: 50%;
}

.right {
    margin-top: 7%;
    width: 50%;
}

.right .main-text {
    font-size: 40px;
    line-height: 48px;
    color: white
}

.right bold {
    color: #FFFBFF;
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.play {
    background-color: #89FFFF;
    width: 280px;
    height: 60px;
    border-radius: 10px;
    padding: 16px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50%;
    cursor: pointer;
    z-index: 3;
}

.under-button {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 50%;

}

.case-facts {
    display: flex;

    width: 100%;
    gap: 10%;
}

.fact {
    width: 170px;
    z-index: 1;
}

.fact-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.02em;
    color: white;

}

.fact-sub {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #E0E0E0;
}

.roullete {
    display: none;
    flex-direction: column;
    background: url(images/bgroulette.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}

.rolling {
    margin-top: 250px;
    margin-bottom: 50px;
}

.roullete-line {
    border: 2px solid #89FFFF;
    width: 740px;
    height: 230px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgba(4, 3, 5, 0.6), rgba(4, 3, 5, 0.6));

}

.round-1 {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #89FFFF;
    border-radius: 100px;
    top: -15px;
}

.round-2 {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #89FFFF;
    border-radius: 100px;
    bottom: -15px;
}

.line {
    content: "";
    width: 2px;
    position: absolute;
    height: 100%;
    background-color: #89FFFF;
    z-index: 2;
}

.card {
    max-width: 148px;
    max-height: 192px;
    margin-right: 10px;
    position: relative;
    z-index: 1;

}
.card-image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
    top: 0;
    max-width: 148px;
    max-height: 192px;
    z-index: -1;
}

.cards{
    display: flex;
	position: absolute;
	left: 300px;
	top: 25px;
	width: 2000px;
	height: 100%;
	transition: 5s ease;
}

.weapon {
    text-align: center;
    z-index: 1;
}

.weapon-img {
    width: 90%;
    margin-top: 10px;
}

.card-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #FFFBFF;
    margin-top: 20px;
    text-align: center;
    z-index: 1;
}

.finish {
    display: none;
    flex-direction: column;
    background: url(images/bgfinal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}

.finish-wrapper {
    border: 2px solid #89FFFF;
    border-radius: 20px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #222A68 0%, #000000 100%),
        linear-gradient(0deg, #89FFFF, #89FFFF);

}

.prize-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFBFF;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.prize {

    display: flex;
    justify-content: center;
}

.attention-wrapper {
    border: 2px solid #E35428;
    border-radius: 20px;
    padding: 40px;
    margin: 50px 100px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attention-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #E35428
}

.attention-text {
    text-align: center;
    width: 450px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    margin-top: 10px;
}

@media (max-width: 768px) {

    .elipses-bg,
    .elipses-bg img,
    .elipses,
    .elipses img {
        width: 100%;
    }

    .akcase img {
        width: 200px;
    }

    .akcase {
        top: 24%;

    }

    .case img {
        width: 180px;
    }

    .case {
        position: relative;
        right: 0;
    }

    .weapon-one {
        top: 19%;
        left: 3%;
        width: 63px;
        height: 63px;
    }

    .weapon-two {
        top: 23%;
        left: 72%;
        width: 85px;
        height: 85px;
    }

    .weapon-three {
        top: 32%;
        left: 40%;
        width: 63px;
        height: 63px;
    }

    .weapon-four {
        top: 36%;
        left: 64%;
        width: 63px;
        height: 63px;
    }

    .smoke img {
        width: 100%;
        height: 258px;
    }

    .smoke {
        top: 32%;
    }

    .wrapper {
        background: linear-gradient(180deg, #000000 11%, #222A68 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .header {
        height: 70px;
    }

    .content {
        flex-direction: column;
        align-items: flex-end;
    }

    .logo {
        width: 150px;
        height: 30px;
        background: url(images/logomobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 20px;
    }

    .account {
        margin: 10px 20px;
        padding: 10px 15px;
        border-radius: 15px;
    }

    .right {
        width: auto;
        font-size: 18px;
        text-align: right;
        margin-right: 20px;
    }

    .right-text {
        text-align: right;

    }

    .right bold {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0em;
    }

    .right .main-text {
        width: 270px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0em;
    }

    .play {
        margin-top: 242px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-size: 20px;
        padding: 7px;
        width: 260px;
        height: 40px;
        font-weight: 800;
    }

    .under-button {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .fact-bg {
        height: 537px;
        width: 260px;
        margin: 20px auto;
        bottom: 0;
        position: relative;
        padding: 0;
        flex-direction: column;
        justify-content: space-around;
    }

    .case-facts {
        display: flex;
        flex-direction: column;
        width: auto;

    }

    .fact-title {
        font-size: 28px;
        line-height: 56px;
        letter-spacing: 0.02em;
        text-align: center;

    }

    .fact-sub {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: center;
        color: #E0E0E0;
    }
}

@media (max-width: 768px) {
    .roullete {
        background: url(images/bgroulettemobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .roullete-line {
        flex-direction: column;
        margin: 50px 0 150px;
        width: 260px;
        height: 630px;
        background: linear-gradient(0deg, rgba(4, 3, 5, 0.6), rgba(4, 3, 5, 0.6));
    }

    .rolling {
        position: absolute;
        top: 52%;
    }
}

@media (max-width: 768px) {
    .finish {
        background: url(images/bgroulettemobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

    .finish-wrapper {
        width: 260px;
        height: 430px;
    }

    .account {
        margin: 20px 20px;
    }

    .attention-wrapper {
        width: 260px;
        background: linear-gradient(0deg, #040305, #040305);
        margin: 10px;
        border-radius: 0 0 20px 20px;
        margin-bottom: 20px;
    }

    .attention-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        width: auto;
    }
}